
/* -----------------------------------------ErrorPage Styles------------------------------- */

.err-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)), url("../images/finished-plate.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.err-h1 {
    text-align: center;
    color: white;
    font-size: 70px;
}

/* -----------------------------------------Login Styles------------------------------- */

.sgp-bd{ 
    height: 100vh;
    width: 100%;
    background-image:url("../images/BeignetsDougoub.webp") !important;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lg-bd{
    height: 100vh;
    width: 100%;
    background-image:url("../images/KherouTouba.jpg") !important;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    border-radius: 3%;
    width: 30%;
    max-width: 400px;
    padding: 20px;
    text-align: center;
    background-color: rgb(255, 247, 234);
}

.login-title {
    font-size: 24px;
    color: rgba(127, 62, 2); 
    font-family: 'Merienda', cursive;
    margin-bottom: 10px;
    font-weight: bold;
}

.login-subtitle {
    color: #c9946b;
    margin-bottom: 30px;
}

.login-form {
    text-align: left;
}

.login-form .form-label {
    font-weight: bold;
}

.login-button {
    background-color: rgba(143, 79, 27, 0.845) !important; 
    border-style: none !important;
    border-radius: 20px;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
}

.login-or {
    font-size: 14px;
    color: #555;
    text-align: center;
    margin-bottom: 7%;
    color: #c9946b;
    font-weight: 600;
}

.create-account-button {
    color: rgba(143, 79, 27, 0.845 )!important; 
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: transparent;
    border-style: none;
    border-color: rgba(143, 79, 27, 0.845 ) !important;
}

.create-account-button:hover {
    background-color: rgb(255, 247, 234) !important;
}





/* -----------------------------------------FoodScience Styles------------------------------- */
.fds-cont{
    height: 100% !important;
    margin-top: 30px;
}

.cards-container{
    display: flex;
    margin-right: 5%;
    margin-left: 10%;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-basis: auto;
    padding-top: 50px;
}

.justified-text{
    text-align: justify;
}

.fds-card {
    display: flex;
    margin-bottom: 20px;
    justify-content: center !important;
    align-items: center !important;
    overflow: hidden;
    transition: transform 0.2s, box-shadow 0.2s;
    box-shadow: 3px 7px 15px 0.7px rgba(0, 0, 0, 0.125) !important;
}

.fds-card:hover {
    /* box-shadow: 5px 10px 20px 1px rgba(50, 55, 3, 0.539) !important; */
    transform: translateY(-5px);
}

.card-img {
    transform: scale(1);
    transition: transform 0.5s ease;
    max-height: 200px;
}

/* .card-img:hover{
    transform:scale(1.2); 
} */ */

.card-btn {
    background-color: #fff !important;
    border: solid 2px rgb(250, 215, 174) !important;
    font-weight: 500 !important;
    color: rgb(240, 188, 130) !important;
    cursor: pointer;
    text-align: center;
    width: 50% !important;
    transform: scale(0.9);
    transition: transform 0.7s ease;
}

.card-btn:hover {
    transform: scale(1.2);

}
